# --- Archivos de Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Entornos virtuales
.venv/
env/
venv/
ENV/
*.env

# Archivos de configuración locales
*.sqlite3
*.db
*.DS_Store

# --- Archivos de C++ ---
# Objetos y binarios
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.app

# Archivos de depuración
*.dSYM/
*.stackdump

# --- Herramientas comunes ---
# Compiladores y build systems
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
Debug/
Release/

# --- General ---
# Archivos de backup
*~
*.swp
